@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using System.Configuration
@using Adage.EpiStarterKit.ModelPartials.Models.Pages
@using Adage.EpiStarterKit.ViewModelPartials.ViewModels.Pages

@model IPageViewModel<EventDetailsPage>

@{ Layout = ConfigurationManager.AppSettings.Get("ROOT_LAYOUT_LOCATION") ?? "~/Views/AdageViews/Shared/Layouts/_Root.cshtml"; }

<div>
    <section class="adage-block adage-block-full-bleed adage-hero-block">
        <div class="adage-secondary-hero adage-secondary-hero-img-tint">
            <div class="adage-secondary-hero-img">
                <img src="@Model.CurrentPage.HeaderImage" />
            </div>
            <div class="adage-secondary-hero-inner">
                <div class="adage-secondary-hero-content-container">
                    <div class="adage-secondary-hero-content-inner">
                        <h1 class="adage-block-heading adage-secondary-hero-heading">@Html.PropertyFor(m => m.CurrentPage.Title)</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="adage-block adage-wysiwyg-block-container">
        <div class="right-rail">
            <h4>
                Date and Time
            </h4>

            <p>
                @Html.PropertyFor(m => m.CurrentPage.DateAndTime)
            </p>
            <br />

            <h4>
                Location Name & Address
            </h4>
            <div>
                @Html.PropertyFor(m => m.CurrentPage.LocationNameAndAddress)
            </div>

            <div>
                @Html.PropertyFor(m => m.CurrentPage.Price)
            </div>

            <div>
                <a href="@Model.CurrentPage.CTAButtonUrl">
                    @Html.PropertyFor(m => m.CurrentPage.CTAButtonText)
                </a>
            </div>
        </div>
        <div class="adage-block-inner adage-wysiwyg-block">
            <div class="rich-text">
                @Html.PropertyFor(m => m.CurrentPage.Description)

            </div>
        </div>
    </section>

   

</div>